<?php  include  site_url('admin/Login/menu_head'); ?>
<body onselectstart="return false;" ondragstart="return false;" oncontextmenu="return false;">
<div style="float: left" id="my_menu" class="sdmenu">
  <div class="collapsed">
    <span>栏目管理</span>
    <a onclick="top.mainFrame.location='<?php echo site_url('admin/column/columnTree');?>';" onfocus="this.blur()" style="cursor:pointer;">栏目预览</a>
     <a onclick="top.mainFrame.location='<?php echo site_url('admin/column/table/63');?>';" onfocus="this.blur()" style="cursor:pointer;">网站导航</a>
     <a onclick="top.mainFrame.location='<?php echo site_url('admin/column/table/0');?>';" onfocus="this.blur()" style="cursor:pointer;">栏目列表</a>
    
   </div>	
</div>
</body>
</html>