<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台管理登录界面</title>
    <link href="<?php echo base_url(ADMIN_RES_PATH.'css/alogin.css');?>" rel="stylesheet" type="text/css" />
</head>
<body>
    <form runat="server" action="<?php echo site_url('admin/Login/login_in');?>" method="post">
    <div class="Main">
        <div class="top" >
            <ul class="login">
                <div class="login_logo"><img src="<?php echo base_url(ADMIN_RES_PATH.'images/login/logo.gif');?>" alt="" style="" /></div>
                <li><span class="left login-text">管理员名：</span> <span style="left">
                    <input  type="text" class="txt" name="username"/>
                </span></li>
                
                <li><span class="left login-text">管理员密码：</span> <span style="left">
                   <input  type="password" class="txt" name="userpwd" /> 
                </span></li>
                  
                <li><span class="left login-text">验证码：</span> <span style="left">
                   <input  type="text" class="txt1" name="admin_code" />
                   <img src="<?php echo site_url('admin/login/code');?>" alt="" onclick= this.src="<?php echo site_url('admin/login/code').'/'?>"+Math.random() style="cursor: pointer;margin-left:5px;vertical-align: middle;" title="看不清？点击更换另一个验证码。"/>  
                </span></li>
                <div>
                    <input class="login_submit" type="submit" value="进入管理中心" class="button" />
                </div>
            </ul>
        </div>
    </div>
    </form>
</body>
</html>