<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>主要内容区main</title>
    <link href="<?php echo base_url(ADMIN_RES_PATH.'css/css.css');?>" type="text/css" rel="stylesheet" />
    <link href="<?php echo base_url(ADMIN_RES_PATH.'css/main.css');?>" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="<?php echo base_url(ADMIN_RES_PATH.'js/jquery.min.js');?>"></script>
    <script type="text/javascript" src="<?php echo base_url(ADMIN_RES_PATH.'js/function_public.js');?>"></script>

