
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" href="/public/fileManager/cikonss.css" />
<script src="/public/fileManager/jquery-ui/js/jquery-1.10.2.js"></script>
<script src="/public/fileManager/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
<script src="/public/fileManager/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>
<link rel="stylesheet" href="/public/fileManager/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css"  type="text/css"/>
<style type="text/css">
	body,p,div,ul,ol,table,dl,dd,dt{
		margin:0;
		padding: 0;
	}
	a{
		text-decoration: none;
	}
	ul,li{
		list-style: none;
		float: left;
	}
	#top{
		width:100%;
		height:48px;
		margin:0 auto;
		background: #E2E2E2;
	}
	#navi a{
		display: block;
		width:48px;
		height: 48px;
	}
	#main{
		margin:0 auto;
		border:2px solid #ABCDEF;
	}
	.small{
		width:25px;
		height:25px;
		border:0;
}
</style>
<script type="text/javascript">
	function show(dis){
	document.getElementById(dis).style.display="block";
	}
	function delFile(filename,path){
		if(window.confirm("您确定要删除嘛?删除之后无法恢复哟!!!")){
				var params = {
					"act":"delFile",
					"filename":filename,
					"path":path
				}
				$.ajax({
				  type: "POST",
				  url: "/index.php/admin/Filemanager/table?act=delFile",
				  data: params,
				  dataType : "json",
				  success: function(data){
				  	console.log(data);
				  	if(data=='1'){
				  		alert('文件删除成功');
				  		location.reload();
				  	}else{
				  		alert('文件删除失败');
				  		location.reload();
				  	}
				  }
				})
				//location.href="/index.php/admin/Filemanager/table?act=delFile&filename="+filename+"&path="+path;
		}
	}
	function delFolder(dirname,path){
		if(window.confirm("您确定要删除嘛?删除之后无法恢复哟!!!")){
				var params = {
					"act":"delFolder",
					"dirname":dirname,
					"path":path
				}
				$.ajax({
				  type: "POST",
				  url: "/index.php/admin/Filemanager/table?act=delFolder",
				  data: params,
				  dataType : "json",
				  success: function(data){
				  	console.log(data);
				  	if(data=='1'){
				  		alert('文件删除成功');
				  		location.reload();
				  	}else{
				  		alert('文件删除失败');
				  		location.reload();
				  	}
				  }
				})
			//location.href="/index.php/admin/Filemanager/table?act=delFolder&dirname="+dirname+"&path="+path;
		}
	}
	function showDetail(t,filename){
		$("#showImg").attr("src",filename);
		$("#showDetail").dialog({
			  height:"auto",
		      width: "auto",
		      position: {my: "center", at: "center",  collision:"fit"},
		      modal:false,//是否模式对话框
		      draggable:true,//是否允许拖拽
		      resizable:true,//是否允许拖动
		      title:t,//对话框标题
		      show:"slide",
		      hide:"explode"
		});
		}
	function goBack($back){		
		if(back==''){
			location.href="/index.php/admin/Filemanager/table";
		}else{
			location.href="/index.php/admin/Filemanager/table?path="+$back;
		}
	}
</script>
</head>

<body>
<div id="showDetail"  style="display:none"><img src="<?php if(empty($path)){
		 	echo '\/';
		 }else{
		 	echo $path;
		 }; ?>	?>" id="showImg" alt=""/></div>
<h1>在线文件管理器</h1>
<div id="top">
	<ul id="navi">
		<li><a href="/index.php/admin/Filemanager/table" title="主目录">
			<span style="margin-left: 8px; margin-top: 0px; top: 4px;" class="icon icon-small icon-square"><span class="icon-home"></span></span>
		</a></li>
		<li><a href="#"  onclick="show('createFile')" title="新建文件" >
			<span style="margin-left: 8px; margin-top: 0px; top: 4px;" class="icon icon-small icon-square"><span class="icon-file"></span></span>
		</a></li>
		<li><a href="#"  onclick="show('createFolder')" title="新建文件夹">
			<span style="margin-left: 8px; margin-top: 0px; top: 4px;" class="icon icon-small icon-square"><span class="icon-folder"></span></span>
		</a></li>
		<li><a href="#" onclick="show('uploadFile')"title="上传文件">
			<span style="margin-left: 8px; margin-top: 0px; top: 4px;" class="icon icon-small icon-square"><span class="icon-upload"></span></span>
		</a></li>
		<li><a href="#" title="返回上级目录" onclick="goBack('<?php $path;?>')">
			<span style="margin-left: 8px; margin-top: 0px; top: 4px;" class="icon icon-small icon-square"><span class="icon-arrowLeft"></span></span>
		</a></li>
	</ul>
</div>
<form action="/index.php/admin/Filemanager/table" method="post" enctype="multipart/form-data">
<table width="100%" border="1" cellpadding="5" cellspacing="0" bgcolor="#ABCDEF" align="center">
<tr id="createFolder"  style="display:none;">
		<td>请输入文件夹名称</td>
		<td >
			<input type="text" name="dirname" />
			<input type="hidden" name="path"  value="<?php  if(!empty($path)){ echo $path; } ?>"/>
			<input type="submit"  name="act"  value="创建文件夹"/>
		</td>
</tr>
	<tr id="createFile"  style="display:none;">
		<td>请输入文件名称</td>
		<td >
				<input type="text"  name="filename" />
				<input type="hidden" name="path" value="<?php  if(!empty($path)){ echo $path; } ?>"/>
				<input type="submit"  name="act" value="创建文件" />	
		</td>
	</tr>
	<tr id="uploadFile" style="display:none;">
		<td >请选择要上传的文件</td>
		<td ><input type="file" name="myFile" />
			<input type="submit" name="act" value="上传文件" />	
		</td>
	</tr>
	<tr>
		<td>编号</td>
		<td>名称</td>
		<td>类型</td>
		<td>大小</td>
		<td>可读</td>
		<td>可写</td>
		<td>可执行</td>
		<td>创建时间</td>
		<td>修改时间</td>
		<td>访问时间</td>
		<td>操作</td>
	</tr>
	<!-- 文件 -->
	<?php $i=1; 
	if(!empty($file)){
	foreach ($file as $item): ?>
	<tr>
		<td><?php echo $i++;?></td>
		<td><?php echo $item['name'];?></td>
		<td><img src="/public/fileManager/images/file_ico.png" alt=""  title="文件"/></td>
		<td><?php echo $item['dir_size_'];?></td>
		<td><img class="small" src="/public/fileManager/images/<?php if($item['is_readable']=='1'){echo 'correct.png';}else{echo 'error.png';}?>" alt=""/></td>
		<td><img class="small" src="/public/fileManager/images/<?php if($item['is_writable']=='1'){echo 'correct.png';}else{echo 'error.png';}?>" alt=""/></td>
		<td><img class="small" src="/public/fileManager/images/<?php if($item['is_executable']=='1'){echo 'correct.png';}else{echo 'error.png';}?>" alt=""/></td>
		<td><?php echo $item['filectime'];?></td>
		<td><?php echo $item['filemtime'];?></td>
		<td><?php echo $item['fileatime'];?></td>
		<td>
			
        <?php 

            @$ext=strtolower(end(explode(".",$item['name'])));
			$imageExt=array("gif","jpg","jpeg","png");
			if(in_array($ext,$imageExt)){
				 
			 
        ?>
        <a href="#"  onclick="showDetail('<?php  if(empty($path)){
		 	echo '\/';
		 }else{
		 	echo $path;
		 }; ?>','<?php 		 
		 if(!empty($path)){
		 	echo $path.'\/'.$item['name'];
		 }else{
		 	echo '\/'.$item['name'];
		 };?>')">
        <?php 	}else{  ?>
         <a href="/index.php/admin/Filemanager/table?act=showContent&path=<?php echo $path;?>&filename=<?php echo $item['name'];?>"  onclick="showDetail('<?php  if(empty($path)){
		 	echo '\/';
		 }else{
		 	echo $path;
		 }; ?>','<?php 		 
		 if(!empty($path)){
		 	echo '\/'.$path.'\/'.$item['name'];
		 }else{
		 	echo '\/'.$item['name'];
		 };?>')">

		<?php }?>
		

		
			<img class="small" src="/public/fileManager/images/show.png"  alt="" title="查看"/></a>|

		<a href="/index.php/admin/Filemanager/table?act=editContent&path=<?php echo $path;?>&filename=<?php echo $item['name'];?>">
			<img class="small" src="/public/fileManager/images/edit.png"  alt="" title="修改"/></a>|
		<a href="/index.php/admin/Filemanager/table?act=renameFile&path=<?php echo $path;?>&filename=<?php echo $item['name'];?>">
			<img class="small" src="/public/fileManager/images/rename.png"  alt="" title="重命名"/></a>|
		<a href="/index.php/admin/Filemanager/table?act=copyFile&path=<?php echo $path;?>&filename=<?php echo $item['name'];?>">
			<img class="small" src="/public/fileManager/images/copy.png"  alt="" title="复制"/></a>|
		<a href="/index.php/admin/Filemanager/table?act=cutFile&path=<?php echo $path;?>&filename=<?php echo $item['name'];?>">
			<img class="small" src="/public/fileManager/images/cut.png"  alt="" title="剪切"/></a>|
		<a href="#"  onclick="delFile('<?php echo $item['name'];?>','<?php echo $path;?>')">
			<img class="small" src="/public/fileManager/images/delete.png"  alt="" title="删除"/></a>|
		<a href="/index.php/admin/Filemanager/table?act=downFile&path=<?php echo $path;?>&filename=<?php echo $item['name'];?>">
			<img class="small"  src="/public/fileManager/images/download.png"  alt="" title="下载"/></a>
		</td>	
	</tr>
	<?php endforeach; }?> 
	<!-- 目录 -->
	<?php 
	if(!empty($dir)){
	foreach ($dir as $item): ?>
	<tr>
		<td><?php echo $i++;?></td>
		<td><?php echo $item['name'];?></td>
		<td><img src="/public/fileManager/images/folder_ico.png" alt=""  title="文件"/></td>
		<td><?php echo $item['dir_size_'];?></td>
		<td><img class="small" src="/public/fileManager/images/<?php if($item['is_readable']=='1'){echo 'correct.png';}else{echo 'error.png';}?>" alt=""/></td>
		<td><img class="small" src="/public/fileManager/images/<?php if($item['is_writable']=='1'){echo 'correct.png';}else{echo 'error.png';}?>" alt=""/></td>
		<td><img class="small" src="/public/fileManager/images/<?php if($item['is_executable']=='1'){echo 'correct.png';}else{echo 'error.png';}?>" alt=""/></td>
		<td><?php echo $item['filectime'];?></td>
		<td><?php echo $item['filemtime'];?></td>
		<td><?php echo $item['fileatime'];?></td>
		<td>
			
		<a href="/index.php/admin/Filemanager/table?path=<?php 		 
		 if(!empty($path)){
		 	echo $path.DIRECTORY_SEPARATOR.$item['name'];
		 }else{
		 	echo $item['name'];
		 };?>"  onclick="showDetail('<?php  if(empty($path)){
		 	echo '/';
		 }else{
		 	echo $path;
		 }; ?>','<?php 		 
		 if(!empty($path)){
		 	echo $path.'\/'.$item['name'];
		 }else{
		 	echo $item['name'];
		 };?>')">
			<img class="small" src="/public/fileManager/images/show.png"  alt="" title="查看"/></a>|
		<a href="/index.php/admin/Filemanager/table?act=renameFolder&path=<?php  echo $path ;?>&dirname=<?php 		 
		 if(!empty($path)){
		 	echo $path.DIRECTORY_SEPARATOR.$item['name'];
		 }else{
		 	echo $item['name'];
		 };?>">
			<img class="small" src="/public/fileManager/images/rename.png"  alt="" title="重命名"/></a>|

		<a href="/index.php/admin/Filemanager/table?act=copyFolder&path=<?php echo $path;?>&filename=<?php echo $item['name'];?>">
			<img class="small" src="/public/fileManager/images/copy.png"  alt="" title="复制"/></a>|
		<a href="/index.php/admin/Filemanager/table?act=cutFolder&path=<?php echo $path;?>&filename=<?php echo $item['name'];?>">
			<img class="small" src="/public/fileManager/images/cut.png"  alt="" title="剪切"/></a>|
				
		<a href="#"  onclick="delFolder('<?php 		 
		 if(!empty($path)){
		 	echo $path.'\/'.$item['name'];
		 }else{
		 	echo $item['name'];
		 };?>','file')">
			<img class="small" src="/public/fileManager/images/delete.png"  alt="" title="删除"/></a>|	
		</td>		
	</tr>
	<?php endforeach; }?>  

	
	
	
</table>
</form>

</body>
</html>