 <?php  include  site_url('admin/Login/menu_head'); ?>
<body onselectstart="return false;" ondragstart="return false;" oncontextmenu="return false;">
<div style="float: left" id="my_menu" class="sdmenu">
  <div class="collapsed">
    <span>用户管理</span>
    <a href="<?php echo site_url('admin/User/user_list');?>" target="mainFrame" onFocus="this.blur()">用户列表</a>
  </div>
  <div class="collapsed">
    <span>问卷调查</span>
    <a href="<?php echo site_url('admin/User/proposal');?>" target="mainFrame" onFocus="this.blur()">提建议拿福利</a>
  </div>
  
</div>
</body>
</html>