<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><?php echo $globals_webname;?> - 前端管理</title>
    <meta name="keywords" content="<?php echo $globals_keywords;?>">
    <meta name="description" content="<?php echo $globals_description;?>">

	<!-- 头部公用css开始 -->
	<link rel="shortcut icon" href="favicon.ico"> 
	<link href="<?php echo base_url('public/home_res_path/css/bootstrap.min.css?v=3.3.5')?>" rel="stylesheet">
	<link href="<?php echo base_url('public/home_res_path/css/font-awesome.min.css?v=4.4.0')?>" rel="stylesheet">
	<link href="<?php echo base_url('public/home_res_path/css/animate.min.css')?>" rel="stylesheet">
	<link href="<?php echo base_url('public/home_res_path/css/style.min.css?v=4.0.0')?>" rel="stylesheet">
	<link href="<?php echo base_url('public/home_res_path/css/blueimp-gallery.min.css')?>" rel="stylesheet">
	<!-- 头部公用css结束 -->
    <base target="_blank">
</head>

<body class="gray-bg">