<?php
    include  site_url('admin/Login/main_head');
 ?>
<link href="<?php echo base_url(ADMIN_RES_PATH.'css/list.css');?>" type="text/css" rel="stylesheet" />
</head>
<body>
<!--main_top-->
<table width="99%" border="0" cellspacing="0" cellpadding="0" id="searchmain">
  <tr>
    <td width="99%" align="left" valign="top">您的位置：前端管理</td>
  </tr>
  <tr>
    <td align="left" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="search">
        <tr>
	    	<td width="90%" align="left" valign="middle">
               
        </td>
        <td width="10%" align="center" valign="middle" style="text-align:right; width:150px;"><a href="<?php echo site_url('admin/notice/addgroup');?>" target="mainFrame" onFocus="this.blur()" class="add">新增前端组</a></td>
        </tr>
      </table>
      <script>
          $(".js_dm_seach").click(function () {
                var js_dm_seach_username=$(".js_dm_seach_username").val();
                if(js_dm_seach_username!="" || js_dm_seach_username!= null){
                    window.location.href=encodeURI("<?php echo site_url('admin/Admin/admin_list');?>/0/"+js_dm_seach_username);
                }
          });
      </script>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">

      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="main-tab">
        <tr>
          <th align="center" valign="middle" class="borderright">ID号</th>
          <th align="center" valign="middle" class="borderright">优先级</th>
          <th align="center" valign="middle" class="borderright">标题</th>
          <th align="center" valign="middle" class="borderright">描述</th>
          <th align="center" valign="middle" class="borderright">图片</th>
          <th align="center" valign="middle">操作</th>
        </tr>

        <?php foreach ($notice as $item): ?>
          <tr onMouseOut="this.style.backgroundColor='#ffffff'" onMouseOver="this.style.backgroundColor='#edf5ff'">
            <td align="center" valign="middle" class="borderright borderbottom"><?php echo $item['id']?></td>
            <td align="center" valign="middle" class="borderright borderbottom"><?php echo $item['ord']?></td>
            <td align="center" valign="middle" class="borderright borderbottom"><?php echo $item['title']?></td>
            <td align="center" valign="middle" class="borderright borderbottom"><?php echo $item['description']?></td>
            <td align="center" valign="middle" class="borderright borderbottom"><?php echo $item['image']?> </td>
            <td align="center" valign="middle" class="borderbottom" id="<?php echo $item['id']?>">
              <a href="javascript:;"  class="js_update">编辑</a>
              <span class="gray">&nbsp;|&nbsp;</span>
              <a href="javascript:;" class="js_display">
              <?php  if($item['display']=='1'){ echo "正常"; }else{ echo "禁用"; } ?>
              </a>
              <span class="gray">&nbsp;|&nbsp;</span>              
              <a href="javascript:;" class="js_delete">删除</a></td>
          </tr>
        <?php endforeach; ?>
      </table>
    </td>
  </tr>
  <tr>
 
  </tr>
</table>
<!-- Javascript Libraries -->
        <script type="text/javascript">
            
        $(".js_update").click(function(){  
            var _this=$(this);
    				var id=_this.parent().attr("id");
    				window.location="<?php echo site_url('admin/notice/modgroup/');?>"+id;
  			});
        $(".js_display").click(function(){  
                var _this=$(this);
        				var id = _this.parent().attr("id");
        				var text = _this.html().trim();
  				    $.ajax({  
  				     url:'<?php echo site_url("admin/notice/delete");?>',   
  				     type:'POST', 
  				     data:{
  				     	  'id':id,
  		          	'action':'display'
  		         }, 
  				     dataType:'json', 
  				     async : false, //默认为true 异步  
  				     success:function(data){  
  				     	if(data=='1'){
  				     		if(text=='正常'){
  				     			_this.html('禁用');
  				     		}else{
  				     			_this.html('正常');
  				     		}
  				     	}
  				     }				     
  				   });               
        });
        $(".js_delete").click(function(){  
				var r=confirm("删除前请确认"); 
				if (r==true){ 
				    //执行
				}else{ 
				    return false;//取消
				}
        var _this=$(this);
				var id=_this.parent().attr("id");
  				    $.ajax({  
  				     url:'<?php echo site_url("admin/notice/delete");?>',   
  				     type:'POST', 
  				     data:{
  				     	'id':id,
  		          		'action':'delete'
  		          	 }, 
  				     dataType:'json', 
  				     async : false, //默认为true 异步  
  				     success:function(data){  
  				     	if(data=='1'){
  				     		_this.parent().parent().remove();
  				     	}
  				     }				     
  				   });              
        });            
          
        </script>
</body>
</html>